*, *::before, *::after {
    box-sizing: border-box;
}

.calculator {
    margin: auto;
    margin-top: 100px;
    width: 416px;
    height: 664px;
    border: 8px solid #000000;
    border-radius: 16px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.display {
    width: 400px;
    height: 150px;
    padding-right: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: monospace;
    font-size: 2.5rem;
    border: 2px solid black;
    background-color: #2e2d2c;
    color: white;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    border: 2px solid black;
    background-color: black;
}

.cell {
    width: 99px;
    height: 99px;
    border: 3px solid black;
    border-radius: 9px;
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.zero {
    width: 198px;
}

.operator {
    background-color: #FF9500;
}

.top {
    background-color: #505050;
}

.number {
    background-color: #D4D4D2;
    color: #2e2d2c;
}